<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>CSV File Upload</title>
</head>
<body>
    <div class="container">
        <div class="formulario">
        <h1>CSV File Upload</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".csv" required>
            <input type="submit" value="Upload">
        </form>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        </div>
        <div class="formulario">
            <form action="/clean" method="post">
                <label for="q1_value">Valor Q1 (de 0 a 50%)</label>
                <input type="number" min="0" max="50" name="q1_value" id="q1_value" value="20">
                <label for="q3_value">Valor Q3 (de 50% a 100%)</label>
                <input type="number" min="50" max="100" name="q3_value" id="q3_value" value="80">
                <input type="submit" value="Clean File">
            </form>
        </div>
        <div class="formulario"></div>
            <form action="/train" method="post">
                <h1>Model training</h1>
                <label for="test_size">TEST SIZE 0% - 50%</label>
                <input type="number" min="0" max="50" name="test_size" id="test_size" value="20">
                <input type="submit" value="Train">
            </form>
        </div>
        <div class="formulario"></div>
            <form action="/predict" method="post">
                <label for="longitude">Longitude</label>
                <input type="number" min="-124.15" max="114.31" name="longitude" id="longitude" value="0" step="0.01">
                
                <label for="latitude">Latitue</label>
                <input type="number" min="32.5" max="41.88" name="latitude" id="q1_value" value="36" step="0.01">
                
                <label for="housing_median_age">Housing Median Age</label>
                <input type="number" min="1" name="housing_median_age" id="housing_median_age" value="25" step="0.01">
                
                <label for="total_rooms">Total Rooms</label>
                <input type="number" min="2" name="total_rooms" id="total_rooms" value="5" step="0.01">
                
                <label for="total_bedrooms">Total Bedrooms</label>
                <input type="number" min="1" name="total_bedrooms" id="total_bedrooms" value="4" step="0.01">
                
                <label for="population">Populations</label>
                <input type="number" min="3" name="population" id="population" value="5" step="0.01">
                
                <label for="households">Households</label>
                <input type="number" min="1" name="households" id="households" value="5" step="0.01">
                
                <label for="median_income">Median Income(Thousands per month)</label>
                <input type="number" min="1"  name="median_income" id="median_income" value="3" step="0.01">

                <label for="ocean_distance">Select what fits to the property better</label>
                <select id="ocean_distance" name="ocean_distance" size="4" multiple>
                    <option value="1">Inland</option>
                    <option value="2">Less than an hour away</option>
                    <option value="3">Near Bay</option>
                    <option value="4">Near Ocean</option>
                </select>

                <input type="submit" value="Predecir">
            </form>
        </div>
        {% if prediction_message %}
            <p>{{ prediction_message }}</p>
        {% else %}
            <p>No prediction message</p>
        {% endif %}

    </div>
</body>
</html>


